body{
    background: rgb(70, 50, 50);
}

.logoAndTitle{
    display: flex;
    margin: auto;
    justify-content: start;
    color: black;
}

.logo{
    height: 30px;
    padding: 8px;
}

.mainContainer{
    background: whitesmoke;
    height: 300px;
    width: 400px;
    margin: auto;
    justify-content: center;
    margin-top: 70px;
}

.sub_section{
    margin: auto;
    justify-content: center;
    display: flex;   
    gap: 5px;
    padding: 50px;
}

.btn{
    margin: auto;
    justify-content: center;
    display: flex;
    height: 40px;
    width: 80px;
    padding: 10px;
    border: 2px solid rgb(63, 44, 44);
    /* border-radius: 1rem; */
    background: rgb(133, 102, 102);
    color: white;
}

